@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100%;
    background: url('../images/bg-pattern-desktop.svg');
    background-size: contain;
}

#flex {
    margin: 100px 0 0 150px;
}

#hero-mobile {
    display: none;
    max-width: 100%;
    height: auto;
}

#flex h1 {
    width: 365px;
    font-weight: 600;
    letter-spacing: 10px;
    font-size: 70px;
    margin-top: 100px;
    color: #413A3A;
}

#flex h1 span {
    color: #CE9797;
    font-weight: 300;
}

#flex .description {
    font-size: 16px;
    font-weight: 400;
    color: #CE9797;
    max-width: 440px;
    margin-top: 25px;
    line-height: 30px;
}

form {
    border: 1px solid #CE9797;
    padding: 5px 0 0 20px;
    margin-top: 30px;
    border-radius: 32px;
    width: 450px;
    height: 55px;
    position: relative;
}

form:hover {
    border: 2px solid #F96262;
}

form > label input[type="email"] {
    top: 0;
    font-size: 16px;
    border: none;
    color: #413A3A;
    background: transparent;
    width: 320px;
    height: 40px;
    outline: none;
}

/* mudando a cor do placeholder */

::-webkit-input-placeholder {
    color: #CE9797;
 }
  
 :-moz-placeholder { /* Firefox 18- */
    color: #CE9797;  
 }
  
 ::-moz-placeholder {  /* Firefox 19+ */
    color: #CE9797;  
 }
  
 :-ms-input-placeholder {  
    color: #CE9797;  
 }

form > button {
    position: absolute;
    top: -2px;
    right: -2px;
    background: linear-gradient(135deg, #CE9797, #F96262);
    border: none;
    border-radius: 32px;
    width: 100px;
    height: 55px;
    cursor: pointer;
}

form > button:hover {
    height: 70px;
    opacity: 1;
    top: -5px;
    transition: 0.2s;
}

form .msg-error {
    margin-top: 20px;
    color: #CE9797;
    font-weight: 400;
}

form img#icon-error{
    position: absolute;
    top: 15px;
    right: 120px;
    display: none;
}

#hero-desktop {
    max-width: 100%;
    height: auto;
}


footer {
    margin-top: 35px;
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
}

/* Responsivo */

@media only screen and (max-width: 1215px) {
    #flex {
        margin: 100px 0 0 80px;
    }
}

@media only screen and (max-width: 1150px) {
    #flex {
        margin: 100px 0 0 40px;
    }
}

@media only screen and (max-width: 1110px)  {
    #hero-desktop {
        display: none;
    }

    #hero-mobile {
        display: block;
        margin: auto;
        width: 375px;
    }


    #flex img.logo {
        padding: 40px 0;
    }

    #flex {
        margin: auto;
    }

    #flex h1, #flex span, #flex .description {
        margin: 50px auto;
        text-align: center;
    }
}

@media only screen and (max-width: 500px)  {
    form {
        width: 350px;
        margin: auto;
    }
    
    form > label input[type="email"] {
        width: 170px;
        margin: auto;
    }

    .msg-error {
        margin-top: 10px;
    }

    #flex .description {
        max-width: 350px;
    }
}

@media only screen and (max-width: 375px) {
    #flex img.logo {
        margin-left: 30px;
    }

    #flex h1, #flex span{
        font-size: 45px;
    }

    #flex .description {
        max-width: 310px;
        text-align: center;
    }

    form {
        width: 310px;
        margin: auto;
    }

    form > label input[type="email"] {
        width: 140px;
    }
}










